
#Random Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd

#MacOS
.DS_Store

#VS Code
.vscode/

#Ignore my users I made for testing, but keep the folder
Files/Users/*
!Files/Users/.keep

#Ignore my toDo list
toDo.txt

#Environment
.env
venv/
